@import 'src/constants/colors.scss';

.toggleInput {
  width: 1px;
  height: 1px;
  opacity: 0;
  position: absolute;

  &:checked + .toggleLabel:before {
    color: #484848;
  }

  &:focus + .toggleLabel {
    box-shadow: 0 0 2px 2px $focus-box-shadow;
    outline: 0;
  }
}

.toggleLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 65px;
  font-size: 0;
  position: absolute;

  &:before {
    content: '❯';
    display: inline-block;
    font-size: 22px;
    color: #949494;
    padding: 10px 27px 10px 27px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
